
.homePage {
	h2 {
		color: black;
		text-align: center;
	}
	.row{
		padding-bottom: 3em;
		margin: 0 auto;
	}
	.homePageEvent {
		margin-top: 2em;
		background: #EE3536;
		border: 5px solid black;
	}
}

