.imageContainer {
	height: 13em;
	overflow: hidden;
	.tireImage {
		width: 100%
	}
}
.list-group li {
    list-style: none;
}
.panel {
	background-color: $box;
	color: $text-color;
}
.barContainer {
	text-align: center;
	width: 60%;
	color: $text-color;
	margin: 0 auto 3em auto;
}