$form: #95BCC5;
$text-color: #4B4F50;
$nav-bar: #95BCC5;
$nav-link-color: #fff;
$link-color: #1674F1;
$button: #E4E6E6;
$button-text: #4B4F50;
$box: #E4E6E6;
$box-text: #4B4F50;
$progress-bar: #95BCC5;
$tire-info: #E4E6E6;
$landing-bar-inner: #95BCC5;
$landing-bar-outer: #B8C5C7;
$border: 1px solid #C5BDBD;
$border-radius: 5px;