.navbar {
  position: relative;
  margin-bottom: 0;
  border-bottom: black; }
  .navbar .container-fluid {
    background: #12D9FF;
    border-bottom: black; }

.navbar-default .navbar-nav > li > a {
  color: black; }

/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }

/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes roll-out {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

main {
  width: 100%;
  overflow: hidden; }

.hero {
  width: 100%;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: white; }

.hero h1 {
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.hero p {
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.hero img {
  width: 100%; }

.bar {
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, #B8C5C7 0%, #95BCC5 36%, #B8C5C7 100%);
  background: -webkit-linear-gradient(289deg, #B8C5C7 0%, #95BCC5 36%, #B8C5C7 100%);
  background: -ms-linear-gradient(289deg, #B8C5C7 0%, #95BCC5 36%, #B8C5C7 100%);
  background: linear-gradient(161deg, #B8C5C7 0%, #95BCC5 36%, #B8C5C7 100%);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: roll-out 1.2s ease-out;
  -moz-animation: roll-out 1.2s ease-out;
  animation: roll-out 1.2s ease-out; }

.hero h1, .hero p {
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s ease-out;
  animation: scale-in 1.3s ease-out; }

.icons {
  padding-left: 3%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center; }

@media all and (max-width: 768px) {
  .hero {
    height: 50vw; }
  .bar {
    height: 26vw;
    top: 10vw; }
  .hero h1 {
    font-size: 8vw;
    top: 13vw; }
  .hero p {
    font-size: 3vw;
    top: 27vw; } }

.homePage h2 {
  color: black;
  text-align: center; }

.homePage .row {
  padding-bottom: 3em;
  margin: 0 auto; }

a {
  display: block; }

.userButton {
  width: 10em;
  background: #95BCC5;
  color: black;
  margin-top: 2em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #C5BDBD; }

.userPage h2 {
  color: black;
  text-align: center; }

.imageContainer {
  height: 13em;
  overflow: hidden; }
  .imageContainer .tireImage {
    width: 100%; }

.list-group li {
  list-style: none; }

.panel {
  background-color: #E4E6E6;
  color: #4B4F50; }

.progress {
  border-radius: 10px;
  height: 3em;
  width: 60%;
  margin: 0 auto; }
  .progress .progress-bar {
    color: #fff;
    background-color: #12D9FF; }

html {
  height: 100em; }

form {
  background: #95BCC5;
  border: 1px solid #C5BDBD;
  border-radius: 5px;
  padding: 6%; }
  form .formButton {
    text-align: center; }

.eventBox {
  border: 1px solid #C5BDBD;
  border-radius: 5px;
  background: #E4E6E6;
  color: #4B4F50;
  padding: 1em;
  margin-top: 2em; }
