@import
		'variables',
		'navigation',
		'landingPage',
		'homePage',
		'userPage',
		'tireInfo',
		'tireProgressBar',
		'editCar';
html {
	height: 100em;
}
form{
	background: $form;
	border: $border;
	border-radius: $border-radius;
	padding: 6%;
	.formButton {
		text-align: center;
	}
}
.eventBox {
	border: $border;
	border-radius: $border-radius;
	background: $box;
	color: $box-text;
	padding: 1em;
	margin-top: 2em;
}

